---
layout: default
---

<!-- This loops through the paginated posts -->
<div class="posts">
  {% for post in paginator.posts %}
    {% include posts.html %}
  {% endfor %}
</div>


<!-- Pagination links -->
<div class="pagination">

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
    {% else %}
      <span class="previous">Prev</span>
    {% endif %}

  <span class="page_number "> {{ paginator.page }} of {{ paginator.total_pages }} </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}

</div>
